[user]
    name = Lionel Martin
    email = lionel@stickyads.tv
    editor = nvim
[core]
    autocrlf = input
    pager = /usr/bin/less
    commentchar = ";"
    whitespace = "trailing-space,space-before-tab,blank-at-eol,tab-in-indent"
[merge]
    tool = lvimdiff
[mergetool "lvimdiff"]
    cmd = "nvim -d -c 'wincmd J' $MERGED $LOCAL $BASE $REMOTE"
[diff]
    tool = nvimdiff
[color]
    ui = auto
[alias]
    pu = pull --rebase
    ps = push
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
    ss = stash save
    sp = stash pop
    sl = stash list
    ls =  log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short  # pretty one-line log with tags, branches and authors
    lsv = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short --numstat    # a verbose ls, shows changed files too
    uncommit = reset --soft HEAD^
    ctags = !.git/hooks/ctags
[push]
    default = matching
[credential]
    helper = cache
[include]
    path= ~/.gitconfig.local
[init]
    templatedir = ~/.git_template
[help]
    autocorrect = 1
