[user]
    name = Lionel Martin
    email = lmartin@freewheel.tv
[core]
    autocrlf = input
    pager = /usr/bin/less
    whitespace = "trailing-space,space-before-tab,blank-at-eol,tab-in-indent"
    editor = nvim
[diff]
    tool = nvimdiff
[color]
    ui = auto
[alias]
    pu = pull
    ps = push
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
    ss = stash save
    sp = stash pop
    sl = stash list
    ls =  log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short  # pretty one-line log with tags, branches and authors
    lsv = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short --numstat    # a verbose ls, shows changed files too
    uncommit = reset --soft HEAD^
    ctags = !.git/hooks/ctags
[push]
    default = simple
[credential]
	helper = cache
[init]
    templatedir = ~/.git_template
[help]
    autocorrect = 1
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.local
[hub]
	host = github.freewheel.tv
